<ion-view view-title="{{dash.name}}">
  <ion-content class="padding">
    <img ng-src="{{dash.face}}" style="width: 64px; height: 64px">
    <p>
      {{dash.lastText}}
    </p>

	<div class="card">
		<div class="item item-divider">{{visuals[4].title}}
			<a class="item-icon-right" href="#/tab/dash/gbar/4">
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</div>
		<div>
          <bar-chart config="visuals[4].config.config" 
          			 data="visuals[4].config.data">
          </bar-chart>
		</div>
	</div>

    <div class="card">
		<div class="item item-divider">{{visuals[5].title}}
			<a class="item-icon-right" href="#/tab/dash/gbar/4">
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</div>
		<div ng-switch on="visuals[5].config.zd_data_status">
			<div ng-switch-when="ready">
				<div data-iu-chart="visuals[5].config" class="iuChart" 
					ng-style="style(windowSize)">
				</div>
			</div>
			<div ng-switch-when="not_ready">
				<div style="height: 160px"></div>
			</div>
		</div>
    </div>

	<div class="card">
		<div class="item item-divider">{{visuals[0].title}}
			<a class="item-icon-right" href="#/tab/dash/bar/0">
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</div>
		<div class="item item-text-wrap">
		    <canvas id="bar" class="chart chart-bar" chart-data="visuals[0].config.data" 
		    chart-labels="visuals[0].config.labels" chart-legend="false" 
		    chart-series="visuals[0].config.series" chart-options="{showTooltips: true}" 
		    chart-colours="visuals[0].config.fillColor" >
		    </canvas>
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">{{visuals[1].title}}
			<a class="item-icon-right" href="#/tab/dash/pie/1">
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</div>
		<div class="item item-text-wrap">
		    <canvas id="pie" class="chart chart-pie" chart-data="visuals[1].config.data" 
		    chart-labels="visuals[1].config.labels" chart-legend="false" 
		    chart-options="transactPieOptions">
		    </canvas>
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">{{visuals[3].title}}
			<a class="item-icon-right" href="#/tab/dash/line/3">
				<i class="icon ion-ios-arrow-forward"></i>
			</a>
		</div>
		<div class="item item-text-wrap">
			<canvas id="line" class="chart chart-line" chart-data="visuals[3].config.data"
			  chart-labels="visuals[3].config.labels" chart-legend="false" 
			  chart-series="visuals[3].config.series"
			  chart-options="{pointDot : false}" chart-colours="visuals[3].config.fillColor" 
			  chart-click="onClick" >
			</canvas> 
		</div>
	</div>
	
  </ion-content>
</ion-view>
