<ion-view view-title="{{dash.name}}">
  <ion-content class="padding">
    <img ng-src="{{dash.face}}" style="width: 64px; height: 64px">
    <p>
      {{dash.lastText}}
    </p>

    <div ng-switch on="dash.ready">

		<div ng-switch-when="true">
			<div ng-repeat="visual in dash.visuals">
			    <div class="card">
					<div class="item item-divider">{{visual.title}}
<!-- 						<a class="item-icon-right" href="#/tab/dash/{{dash.id}}/{{visual.id}}">
							<i class="icon ion-ios-arrow-forward"></i>
						</a> -->
					</div>

					<div data-iu-chart="visual.config" class="iuChart" 
						ng-style="style(windowSize)">
					</div>
			    </div>
			</div>
		</div>

		<div ng-switch-when="false">
			<div style="text-align: center; margin-top: 160px;">
				<ion-spinner icon="lines" class="spinner-calm"></ion-spinner>
			</div>
		</div>
		
	</div>

  </ion-content>
</ion-view>
